body {
    background-color: 	#F4A460;
}

#container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


#titulo h2{
    text-align: center;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline;
    padding: 10px;
}

#capa{
    width: 1500px;
    
}


#capa img{
    width:100%;
    height:600px;
}

.Imagens_promo h3{
    text-align: center;
}

.Imagens_promo img{
    width: 300px;
    height:300px;
}