body{
    background-color: #F4A460;
}

#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#titulo h2{
    text-align: center;

}

#titulo img{
    width:60px;
    height:0px;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline;
    padding: 10px;
}

#menu ul li a{
    color:#160650;
}

#capa{
  width:auto;
}

#capa img{
    width:105%;
    height:700px;
}

.imagens_promo h3{
    text-align: center;
}

.imagens_promo img{
    width:60px;
    height:60px;
}
.imagens_promo{
    display: inline;
    padding: 10px;

}
#central{
    text-align: center;
}

.rodape2{
    display: inline-block;
    padding: 20px;
    height: 150px;
}

.rodape2 img{
    width: 80px;
    height: 80px;
}

.rodape2 ul{
    list-style: nome;
}

.rodape3{
    display: inline;

}

.rodape3 img{
    width: 60px;
    height: 60px;
}

#rodape{
    text-align: center;
    background-color: coral;
}

#rodape4{
    background-color:#F4A460;
    color:aliceblue;
}

.y{
    padding: 30px;

}

.y img{
    height:100px;

}

#tabela{
    border: solid 1,5px #000000
    background-color: darkcyan;
}

#tabela th, #tabela td{
    border: solid 1px #838883;
}


